<p id="notice"><%= notice %></p>

<p>
  <strong>Character:</strong>
  <%= @character.character_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Aliases:</strong>
  <%= @character.aliases %>
</p>

<p>
  <strong>Deck:</strong>
  <%= @character.deck %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @character.publisher %>
</p>

<p>
  <strong>Img:</strong>
  <%= @character.img %>
</p>
