<!DOCTYPE html>
<html>
<head>
  <title>ComicDb</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'shared/nav' %>

<div class="superheroes">
  <div class="container">
    <%= yield %>
  </div>
</div>

</body>
</html>
